
### 2. `requirements.txt`

torch
torchvision
albumentations
ultralytics
flask
opencv-python
numpy
matplotlib
tensorrt
flask
torch
ultralytics
opencv-python
gunicorn
firebase-admin
werkzeug
gdown
